= form_for(@temperature) do |f|
  - if @temperature.errors.any?
    #error_explanation.text-center
      %h2= "#{pluralize(@temperature.errors.count, "error")} prohibited this temperature from being saved"

      %ul
        -@temperature.errors.full_messages.each do |message|
          %li= message
  
  .form-group
    %label{:for => "title"} Title:
    = f.text_field :title, :class => "form-control"
    
  .form-group
    %label{:for => "celcius"} Celcius:
    = f.text_field :celcius, :class => "form-control"

  .form-group
    %label{:for => "title"} Description:
    = f.text_area :description, :class => "form-control",:rows => "5"
    
  %button.btn.btn-default{:type => "submit"} Submit
